*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 15vh;
    width: 100vw;
    background-color: green;
    display: flex;
    flex-direction: column;
}
.header-one{
    height: 10vh;
    width: 100vw;
    /* background-color: blueviolet; */
    display: flex;
   
}
.head-one{
    height: 10vh;
    width: 50vw;
/* background-color: violet; */
padding-top: 5px;


}
.head-two{
    height: 10vh;
    width: 50vw;
/* background-color: tomato; */
padding-top: 5px;

}
.header-two{
    height: 5vh;
    width: 100vw;
    /* background-color: aliceblue; */
    display: flex;
    color: white;
}
.camera{
    height: 10vh;
    width: 10vw;
    display: flex;

}
.fa-camera{
    font-size: 20px;
}
.head-three{
    height: 10vh;
    width: 30vw;
    /* background-color: aquamarine; */
    display: flex;
   
}
/* .chat{
    border-bottom: 5px solid black;
} */
.head-four{
    height: 10vh;
    width: 30vw;
    /* background-color: rgb(143, 189, 69); */
    display: flex;
}
.head-five{
    height: 10vh;
    width: 30vw;
    /* background-color: rgb(107, 76, 180); */
    display: flex;
}
h1{
    color: white;
}
h3{
    font-size: 25px;
}
h2{
    text-align: end;
    padding-top: 10px;
    margin-right: 5px;
    color: white;
    
    
    } 
    .fa-magnifying-glass{
        margin-right: 30px;
    }
   
/* --------------------------------------------------------- */
section{
    height: 10vh;
    width: 100vw;
    /* background-color: yellowgreen; */
    margin-top: 5px;
    display: flex;
    
}
.section-one{
    height: 10vh;
    width: 20%;
    /* background-color: brown; */
}
img{
    height: 8vh;
    width: 100%;
    border-radius: 50%;
}
.section-two{
    height: 10vh;
    width: 80%;
    /* background-color: rgb(16, 92, 190); */
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
h4{
    padding-top: 10px;
}
h5{
    text-align: right;
   position: relative;
   top: -15px;
   right: 10px;
}
p{
    padding-bottom: 0px;
}
.typing{
    color: green;
    font-weight: bold;
}
.sec-one{
    height: 5vh;
    width: 80vw;
    /* background-color: chocolate; */
}
.sec-two{
    height: 5vh;
    width: 80vw;
    /* background-color: rgb(57, 93, 148); */
}